<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="alternate" type="application/rss+xml" href="/rss.xml" title="<%= root.data.title %> RSS feed">

    <title><%= locals.pageTitle %></title>
    <meta name="description" content="<%= root.data.description %>" />
    
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />

    <!-- icons -->
    <link rel="icon" href="/favicon.ico">
    <link rel="icon" href="/icon.png" type="image/png" sizes="32x32">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <link rel="manifest" href="/manifest.webmanifest">

    <style>
      body {
        background: hsl(0 0% 10%);
        color: hsl(0 0% 90%);
        font: 16px/1.5 sans-serif;
      }
      .container {
        max-width: 600px;
        margin: 40px auto;
      }
      img.logo {
        float: right;
      }
      a {
        color: hsl(24 76% 61%) ;
      }
      hr {
        border: 0;
        height: 1px;
        background: hsl(0 0% 70%);
        margin-top: 30px;
      }
    </style>
  </head>
  <body>
    <div class="container">
